/calculator
/calender
/checking how many letters
/color selector
/exercise1
/function practice
/gmail
/jsonlearning
/package-lock.json
/page changing 2
/page-changing
/project1
/sign up
/simple contact
/simple data add
/simple post
/simple shopping
/simple sorting app
/simple user operation
/simple web search
/youtube comment2
/youtubecomment