#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.black {
  background-color: black;
  border: black;
  width: 600px;
  height: 945px;
  right: 700px;
  position: absolute;
  top: -10px;
}

.usn1 {
  position: absolute;
  bottom: 240px;
  right: 1130px;
  font-size: 1.5em;
  color: blue;
}

.des1 {
  position: absolute;
  bottom: 200px;
  right: 870px;
  font-size: 1.25em;
}

.des2 {
  position: absolute;
  bottom: 170px;
  right: 870px;
  font-size: 1.25em;
}

.heart {
  position: absolute;
  bottom: 400px;
  left: 1080px;
  font-size: 1.5em;
  border-radius: 100px;
  background-color: grey;
}

.heart1 {
  position: absolute;
  bottom: 400px;
  left: 1080px;
  font-size: 1.5em;
  border-radius: 100px;
  background-color: red;
}

.comment {
  position: absolute;
  bottom: 320px;
  left: 1080px;
  font-size: 1.1em;
  border-radius: 100px;
  background-color: grey;
}

